<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId},%X{spanId}] [%-20t] %c{1.}:%L %X{activity} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.obs.sampleproject" level="debug" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>

</Configuration>
